// style.scss # Manifest File

// vendors
@import 'vendors/boostrap_v4.1/bootstrap.scss';

// abstracts
@import 'abstract/variables';
@import 'abstract/mixins';

// base
@import 'base/reset';
@import 'base/typography';
@import 'base/base';

// layout
@import 'layout/header';
@import 'layout/footer';

// components
@import 'components/buttons';
@import 'components/pagination';

// pages
@import 'pages/contact';

// themes