// Buttons

.button {
    border-radius: 20px;  
    font-family: $roboto;
    font-size: $small;
    color: $white;   
}

.buttons__section {
    margin-top: 7%;
}

@include media-breakpoint-only(xs) {
    .first__button {        
        margin-left: -10px;
    }
    
    .buttons__section .button{
        display:inline-block;
    }

}