//Main Layout
      
.section__description {
    position: relative;

    .img__description {
        width: 100%;    
    }
  
    .h1__description { 
        position: absolute; 
        text-align: center;           
        color: $white;
        top: 40%; 
        padding-left: 25%;
        padding-right: 25%;
        line-height: 100px;
    }

    .i__description {
        position: absolute;
        color:$white;
        text-align: center;
        font-size: 4rem;
        margin-left: 50%;
        top: 88%;
    }
}

.article {
    padding-top: 5%;
    padding-bottom: 1%;
    padding-left: 6rem;
    padding-right: 6rem;
}

.article__p {
    line-height: 45px;
}

span {
    color: $rudy-pink;
}

h3 {
    color: $eerie-black;
}

h4 {
    color: $rudy-pink;
}

h5 {
    margin-bottom: 50px;
}

p {
    margin-bottom: 45px;
}

.sec-autor {
    margin-bottom: 2.5rem;
    padding-left: 7%;
    padding-right: 7%;
}

.col__sec-autor {
    text-align: left;
    margin-top: 9%;
}

.sec__autor-h3 {        
    color: $eerie-black;
}

.sec__autor-p {
    line-height: 40px;
}

.sec__img {
    width: 75%;
    margin-top: 20%;
}

.sec__hr {
    border: 1px solid $light-gray;
    margin-left: -9%;
    margin-right: -9%;
}

@include media-breakpoint-only(xs) {
    
    .section__description {

        .img__description {
            width: 200%; 
            height: 500px;
            margin-top: 67px;
            margin-left: -152px;          
        }
        .h1__description{
            padding-left: 12%;
            padding-right: 12%;
            line-height: 55px;
            font-size: 34px;
        }

        .i__description{
            font-size: 3rem;
            margin-left: 45%;
            top: 85%;
        }

    }
    

    .article {
        padding-left: 35px;
        padding-right: 30px;
    }

    .sec__hr {
        margin-top: 80px;
    }

    .col__sec-m{
        margin-left: 40px;
    }

    .col__s-a {
        display: none;
    }
   
  }
  